html
  head
    meta(property="og:title" content=ogtitle)
    meta(name="twitter:card" content="summary_large_image")
    meta(property="og:image" content=ogimage)

  body
    h1 roomId: #{roomId}
    p og:title = #{ogtitle}
    script window.location='#{redirectTo}'
